:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif, Monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  overflow-y: auto;
  /* height: 100%; */
  margin: 0px;
  /* width: 100%; */
  /* box-sizing: border-box; */
  padding: 0px;
}
